.section-stub {
  min-height: 80vh;
  padding: 120px 6vw;
  background: #000;
  color: #fff;
}

.section-stub h2 {
  font-size: 64px;
  margin: 0 0 16px;
}

.section-stub p {
  font-size: 18px;
  margin: 0;
  opacity: 0.75;
}
